<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.taesiri.nativeview"
      version="0.1.0">
    <name>Native View</name>
    <description>Sample</description>
    <license>MIT</license>
    <keywords>phonegap,cordova</keywords>


    <js-module src="www/nativeCaller.js" name="NativeListener">
        <clobbers target="window.ncaller" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NativeListener">
                <param name="android-package" value="com.taesiri.nativeview.NativeListener"/>
            </feature>
        </config-file>

        <source-file src="src/android/NativeListener.java" target-dir="src/com/taesiri/nativeview" />      
     </platform>          
</plugin>
